.search_select {
	border: 1px solid rgb(185, 193, 204);
	color: #666;
	height: 43px;
	margin-bottom: 15px;
	padding: 8px 10px;
	width: 100%;
}

.kode-overview-holder{
	padding-bottom: 0px;
}

.kf_faq_bg{
	padding-top: 30px;
}
.special_tab{
	min-width:300px;
}

.header-social{
	color:#000;font-size:15px;font-weight:normal;
}
.kode-overview-holder{padding-top:30px;}
.special_padding{padding:0px !important;}
.kf_accordian_des p{word-break: keep-all;}
.header-class{font-weight:bold;font-size:18px;margin-bottom:15px;margin-top:15px;text-align:center;}
.big_font{font-weight:bold;}

/*.special_sub{padding:9px 29px !important;}*/

.special_sub{padding:9px 57px !important;}/*taps*/

.popular_span{font-weight:bold;font-size:20px;}
.special_cols{margin-bottom:10px;}
.event_image_height{height:247px;}
.ul_class {
		margin:inherit;
		padding:inherit;
		display: block;
		margin-left: 30px;
		margin-bottom: 7px;
	}
.ul_class li{
	 list-style: disc;
}

.hr_footer {margin: 5px 0;}
#footer p {margin: 0 0 5px;}
.footer-copyright{padding: 20px 10px 15px;}

/*css from fund_raies_not_login page*/
	.submit_full_width{width:100%;}
	
	.container input{margin-bottom:10px;}
	.submit_btn{margin-bottom:10px;}
	
	input[type="password"] {
		border: 1px solid rgb(185, 193, 204);
		color: #666;
		height: 43px;
		margin-bottom: 15px;
		padding: 8px 10px;
		width: 100%;
	}
	input[type="email"] {
		border: 1px solid rgb(185, 193, 204);
		color: #666;
		height: 43px;
		margin-bottom: 15px;
		padding: 8px 10px;
		width: 100%;
	}
	.error{color:red !important;}
	#user_login p{color:red !important;}
	
	.respose_style{
	    padding:10px;
	    color: #fff;
	    background-color: #5cb85c; 
	    border-color: #4cae4c; 
	    font-weight:bold;
		margin-bottom: 10px;
		text-align: center;
	}
	.logn_message{text-align:center;margin-bottom:15px;}
	
/* css from champion listing supporter */
.special_text{font-size: 20px;padding-bottom: 0px;}
.donation_form hr{margin:10px 1px 1px 1px;}
.fa_special_icons{color:inherit !important;}